{% extends 'template.html' %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        How It Works
      </h1>
      <h2 class="subtitle">
        There is no right or wrong way to move forward after experiencing sexual assault — just your way.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="content">
       <h5 class="title is-5"> Create a Record</h5>
       <div class="content">
        First, write down what happened. Only you will be able to see the record you create - it's kept secure and encrypted on Callisto until you choose what to do with it.
        Insert PDF of questions here.
       </div>
    </div>
  </div>
</section>
<hr>
<div class="section">
  <div class="container">
      <div class="content">
        <h5 class="title is-5"> What You Can Do with a Record</h5>
        <div class="columns has-text-centered has-margin-top">
          <div class="column">
            <div class="card">
              <div class="card-image has-text-centered">
                <i class="fas fa-save" aria-hidden="true"></i>
              </div>
              <div class="card-content">
                <h4> Choose to Save </h4>
                <p class="has-text-weight-light">You can choose to just save your record - it never has to go anywhere if you don't want it to.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image has-text-centered">
                <i class="fas fa-object-group" aria-hidden="true"></i>
              </div>
              <div class="card-content">
                <h4>Choose to Match</h4>
                <p class="has-text-weight-light">You can choose to submit only the perpetrator’s information into Survivor Support’s matching system, which identifies repeat offenders.</p>
              </div>
            </div>
          </div>
          <div class="column">
            <div class="card">
              <div class="card-image has-text-centered">
                  <i class="fa fa-warehouse" aria-hidden="true"></i>
              </div>
              <div class="card-content">
                <h4> Choose to Report </h4>
                <p class="has-text-weight-light">You can report to Grinnell by sending them your record through Survivor Support. Grinnell will then reach out to you about next steps.</p>
                <p class="has-text-weight-light">Learn more: <a href="/reporting-options">Reporting Options</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}
