{% extends 'template.html' %}
{% block content %}
<section class="hero is-primary has-text-centered is-fullheight is-info">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Your Journey, Your Choice.
      </h1>
      <h2 class="subtitle">
        Grinnell students can securely and privately create a record of unwanted sexual contact or sexual assault.<br>
        Save, match, report. You make the choice.
        <br>
      </h2>
      <a class="button" href="/reports/new/">Start Your Record</a>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body">
    <div class="container" id="ready-when-you-need">
      <h1 class="title has-text-centered">
        Ready When You Need It
      </h1>
      <div class="columns has-text-centered">
        <div class="column">
          <span class="icon is-large">
            <i class="fas fa-lock fa-3x aria-hidden="true""></i>
          </span>
          <p class="has-margin-top">Record information about what happened securely and privately. It won’t go anywhere if you don’t want it to.</p>
        </div>
        <div class="column">
          <span class="icon is-large">
            <i class="fas fa-exclamation-circle fa-3x aria-hidden="true""></i>
          </span>
          <p class="has-margin-top">Enter perpetrator information so we can identify repeat offenders within your school community.</p>
        </div>
        <div class="column">
          <span class="icon is-large">
            <i class="fas fa-laptop fa-3x aria-hidden="true""></i>
          </span>
          <p class="has-margin-top">Report electronically to Grinnell so they get your full account of what happened even before you walk in the door.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="hero is-primary is-info2">
  <div class="hero-body">
    <div class="container has-text-left has-padding-50" id="learn">
      <h1 class="title">
        Learn and Support
      </h1>
       Learn more about your options, your resources, and how you can help others.</br></br>
      <ul>
        <li>
          <a href="/how-it-works"> How It Works</a>
        </li>
        <li>
          <a href="/reporting-options"> Reporting Options</a>
        </li>
        <li>
          <a href="/support-services"> Support Services</a>
        </li>
        <li>
          <a href="/help-a-friend"> Help A Friend</a>
        </li>
      </ul>
      </div>
    </div>
  </div>
</section>

<section class="hero">
  <div class="hero-body" id="how-it-works">
    <div class="container">
      <h1 class="title has-text-centered">
        How Survivor Support Works
      </h1>
      <div class="columns">
        <div class="column is-narrow has-text-centered">
          <span class="icon is-large">
            <i class="fas fa-edit fa-3x aria-hidden="true""></i>
          </span>
        </div>
        <div class="column">
          <h5 class="title is-5"> Secure, Private Record</h5>
          <h6 class="subtitle is-6">All the information entered into Callisto is encrypted and kept safe. The safety of your information is important to us.</h6>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow has-text-centered">
          <span class="icon is-large">
            <i class="fas fa-user fa-3x aria-hidden="true""></i>
          </span>
        </div>
        <div class= "column">
          <h5 class="title is-5">Identify Repeat Offenders</h5>
          <h6 class="subtitle is-6">We use Facebook to match. If the Facebook URL you submit matches another student’s submission, both students` information will be sent to the school.</h6>
        </div>
      </div>
      <div class="columns">
        <div class="column is-narrow has-text-centered">
          <span class="icon is-large">
            <i class="fas fa-file fa-3x aria-hidden="true""></i>
          </span>
        </div>
        <div class="column">
          <h5 class="title is-5">Come Back Any Time</h5>
          <h6 class="subtitle is-6">Complete the record at your own pace; access your record whenever you are ready to continue the process.</h6>
        </div>
      </div>
      <div class="content has-text-centered">
        <a class="button is-primary" href="/reports/new/">Start Your Record</a>
      </div>
    </div>
  </div>
</section>



{% endblock %}