{% extends 'callisto_core/delivery/base.html' %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Support Services
      </h1>
      <h2 class="subtitle">
        Learn about who you can tell, how to tell them, and what to expect.
      </h2>
    </div>
  </div>
</section>
  
</section>

<div class="tabs is-centered is-inverted" data-tabs-id="1" style="padding-bottom: 0;">
  <ul role="tablist" aria-label="Types of Resources">
    <li class="is-active">
      <a id="emotional-support-button" data-tabs-id="1" role="tab" aria-selected="true">
        <span class="icon is-small"><i class="fas fa-smile" aria-hidden="true"></i></span>
        <span>Emotional Support</span>
      </a>
    </li>
    <li>
      <a id="medical-resources-button" data-tabs-id="1" role="tab">
        <span class="icon is-small"><i class="fas fa-notes-medical" aria-hidden="true"></i></span>
        <span>Medical Resources</span>
      </a>
    </li>
    <li>
      <a id="legal-resources-button" data-tabs-id="1" role="tab">
        <span class="icon is-small"><i class="fas fa-gavel" aria-hidden="true"></i></span>
        <span>Legal Resources</span>
      </a>
    </li>
  </ul>
</div>

<section class="has-margin-top has-margin-bottom">
<div class="container">
  <div class="content">
    Grinnell College is committed to treating all members of the community with dignity, empathy, and respect. 
    Any individual affected by <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#SexualHarassment" target="_blank" >sexual or gender-based harassment</a> , 
    <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#SexualViolence" target="_blank">sexual violence</a>, <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#SexualAssault" target="_blank"> sexual assault</a>, <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#IntimatePartnerViolence" target="_blank">intimate partner violence</a>, or <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#Stalking" target="_blank">stalking</a> whether as a <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#Complainant" target="_blank">Complainant</a>, a <a href="http://www.grinnell.edu/campus-life/sexual-respect/about#Respondent" target="_blank">Respondent</a>, witness, or a third party, will have equal access to support through the College. 
    The College recognizes that deciding whether or not to make a report and choosing how to proceed can be difficult decisions.  
    We encourage any individual who has questions or concerns to seek the support of campus and community resources. These resources can provide guidance in making decisions, information about available resources, and procedural options, and assistance to either party in the event that a report and/or resolution under the College’s policy is pursued. Information about reporting is available if you decide that you would like to take next steps to make a report to the College. The Title IX Resource Card provides a convenient, printable list of resources.
  </div>  
</div>

<!-- Emotional Support Section -->
<section class="section" data-for="emotional-support-button" data-tabs-id="1" role="tabpanel"
         aria-labelledby="emotional-support-button">
  <div class="container">
    <div class="content">
      <h1>Emotional Support</h1>
      
      
    </div>
  </div>
</section>

<!-- Medical Resources Section -->
<section class="section is-hidden" data-for="medical-resources-button" data-tabs-id="1" role="tabpanel"
         aria-labelledby="medical-resources-button">
  <div class="container">
    <div class="content">
      <h1>Medical Resources</h1>
  
      <a href="http://www.grinnelliowa.gov/index.aspx?nid=169" target="_blank"> Grinnell Regional Medical Center (GRMC)</a>
      <br>24 hours - call <a href="tel:6412367511">(641) 236-7511</a> for general inquiries and <a href="tel:6412362380">(641) 236-2380</a> for emergency services.
      <br>210 4th Avenue, Grinnell<br>
      Eighty-one-bed hospital with six satellite clinics. Offers HIV/AIDS and STD testing, medical exams, sexual assault nurse examiners, the morning after pregnancy prevention, and more.
      <br><br>
      
      <a href="https://www.grinnell.edu/about/offices-services/student-health" target="_blank"> Student Health and Counseling Services (on campus)</a><br>
      <a href="tel:6412693230">(641) 269-3230</a><br>
      Open Monday-Friday, 8-5 p.m.<br>
      Lower level of Forum, 1119 6th Avenue<br>
      Staff who work at SHACS are confidential resources, including but not limited to receptionists, nursing staff, psychologists, psychiatrists, and physicians. When calling SHACS, follow the appropriate voice prompts to speak with a trained counselor. Nurses and counselors are also available on-call after hours.
      <br><br>
    
    </div>
  </div>
</section>

<!-- Legal Resources Section -->
<section class="section is-hidden" data-for="legal-resources-button" data-tabs-id="1" role="tabpanel"
         aria-labelledby="legal-resources-button">
  <div class="container">
    <div class="content">
      <h1>Legal Resources</h1>
      
      <a href="http://www.iowacasa.org/">Iowa Coalition Against Sexual Assault </a><br>
      "Iowa CASA has 25 member sexual assault crisis centers serving survivors of sexual assault. This organization will provide technical assistance and training to member centers; civil legal assistance for survivors of sexual assault, including immigration assistance; improving responses to sexual assault within communities of color; a national project providing peer-based assistance to other sexual assault coalitions; statewide sexual assault prevention; training for allied professionals; and public policy efforts at the state and national level."
      <br><br>
      
      <a href="http://www.icadv.org/">Iowa Coalition Against Domestic Violence</a><br>
     "The Iowa Coalition Against Domestic Violence seeks to engage all people in a movement to change the social and political systems that perpetuate violence against women.  We do this through education, advocacy, and quality services."
      <br><br>
      
      <a href="https://spd.iowa.gov/">Office of the State Public Defender </a><br>
     "The Office of the State Public Defender is responsible for coordinating Iowa's Indigent Defense System. Our mission is to ensure that all indigent persons in Iowa are provided high-quality legal representation in criminal, juvenile, and other eligible proceedings in the most efficient and fiscally responsible manner."
      <br><br>
      
      <!--General resources
      <a href="http://www.nrcdv.org/"> National Resource Center on Domestic Violence </a><br>
      The NRCDV provides a wide range of free, comprehensive, and individualized technical assistance, training, and specialized resource materials and key initiatives designed to enhance current domestic violence intervention and prevention strategies.<br>
      The Center runs a National Domestic Violence Hotline <a href="tel:18007997233">(1-800-799-7233)</a> and a National Dating Abuse Helpline <a href="tel:18663319474">(1-866-331-9474)</a>.
      <br><br>
      
      <a href="http://www.nsvrc.org/"> National Sexual Violence Resource Center</a><br>
      The NSVRC is a leader in preventing and responding to sexual violence through collaboration, sharing and creating resources, and promoting research. You can contact the NSVRC at <a href="tel:7179090710">717-909-0710</a>.
      <br><br>
      
      <a href="http://www.rainn.org/"> Rape Abuse Incest National Network </a><br>
      RAINN is the nation's largest anti-sexual violence organization and operates the National Sexual Assault Hotline at <a href="tel:1800656HOPE">1-800-656-HOPE</a>. The hotline provides sexual assault victims with free, confidential services 24 hours a day.
      <br><br>
      -->
    </div>
  </div>
</section>
{% endblock %}

