{% extends 'template.html' %}
{% block content %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Terms
      </h1>
      <h2 class="subtitle">
        We would love to hear from you about how we can make Survivor Support better! <br>
        Feedback is completely anonymous unless you choose to provide your email.
      </h2>
    </div>
  </div>
</section>
<div class="section">
    <div class="container">
        This is some text
    </div>
</div>
{% endblock %}
