{% extends 'callisto_core/delivery/form.html' %}

{% block message %}
<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">Securing Your Record</h1>
      <h3 class="subtitle">Before we start the record process we want to make sure we keep it safe.</h3>
    </div>
  </div>
</section>
<div class="section has-padding-bottom">
  <div class="container has-text-weight-light has-text-justified">
    <p>
      You will need this passphrase to gain access to your record to view, edit, enter into match, or report the record to your school.</br>
      For your safety, we do not store passphrases.  <strong>If you forget your passphrase, you won't be able to access this record.</strong></br>
      We recommend that you either store your passphrase in a secure location or print a PDF of your report for your own records.
    </p>
  </div>
</div>

{% endblock %}
